.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 100;
  background-color: #444040;
  opacity: 0.98;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  background-color: #444040;
  border: none;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color:white;
  top: 0px;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

.full-image {
  margin: 100px 20px;
  @media screen and (min-width: 600px) {
    position: fixed;
    width: 500px;
    height: 400px;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: -285px;
  }
}

.image-metadata {
  display: flex;
  flex-direction: column;
  padding: 5px;
  font-size: 14px;
  color: white;
  font-size: 14px;
  font-style: italic;
  overflow-wrap: break-word;

  & > span, div {
    margin: 5px;
  }

  @media screen and (min-width: 600px) {
    margin: 5px 5px 5px 5px;
  }
}

.metadata-item {
  margin: 5px;
}

.tag {
  margin: 5px;

  & ::after {
    content: ',';
  }
}

.image-tags {
  display: flex;
  flex-direction: row;
}

.tags {
  color: red;
  width: 90%;
}

.image-container {
  display: flex;
  justify-content: center;

  & > img {
    @media screen and (max-width: 600px) {
      max-width:100%;
      max-height:100%;
    }
  }
}