body {
  background-color: black;
}

.App {
  text-align: center;
  display: flex;
}

.app-header {
  width: 100%;
  background-color: #942424;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app-title {
  font-size: 32px;
  color: white;
}

.app-content {
  display: flex;
  position: relative;
  padding: 15px;
  flex-direction: column;
  height: auto;
}

.prompt-search {
  font-size: 22px;
  font-weight: 600;
  align-self: center;
}


.app-loader {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 4px solid red;
  border-radius: 50%;
  border-top-color: rgb(12, 12, 12);
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
  position: fixed;
  bottom: 0;
  left: 48%;
  margin: 10px;
}

@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}