.App {
  text-align: center;
}

.app-header {
  width: 100%;
  background-color: #00BCD4;;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app-title {
  font-size: 32px;
  color: white;
  margin: 10px;
}

.app-content {
  display: flex;
  position: relative;
  margin-top: 20px;
  padding: 30px;
  flex-direction: column;
}

.prompt-search {
  font-size: 22px;
  font-weight: 600;
  align-self: center;
}